.data
.data/**
.env
.git
node_modules
packages/*/node_modules
packages/web/.next
packages/indexer/.data
packages/indexer/lib
coverage
.turbo
.pnpm-store
.next
*.log

# OS Files
.DS_Store

Dockerfile*
docker-compose*
dist
